<section fxLayout='column'>

    <mat-card fxShow fxHide.xs="true" fxHide.lg="false">
        <mat-card-header>
            <mat-card-title>An amazing title</mat-card-title>
            <mat-card-subtitle>An even better subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Cras sed felis eget velit aliquet. Velit egestas dui id ornare arcu. Auctor augue
                mauris augue neque gravida in fermentum. Amet justo donec enim diam vulputate ut pharetra. Nulla
                pharetra diam sit amet nisl suscipit adipiscing bibendum. Ultricies integer quis auctor elit sed.
                Consequat ac felis donec et odio pellentesque diam. Consequat id porta nibh venenatis cras. Mauris
                pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Laoreet sit amet cursus sit
                amet dictum. Pretium viverra suspendisse potenti nullam ac. In nisl nisi scelerisque eu ultrices vitae
                auctor eu. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Urna id volutpat lacus
                laoreet non curabitur gravida arcu ac.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card>Simple card</mat-card>

</section>